/* 
desktop: 1200px;
laptop: 1024px;
tablet: 768px;
phone: 480px
*/
* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: sans-serif; */
  background-color: #ffffff;
  overscroll-behavior: none;
  /* min-height: 100%; */
  /* height: 250vh; */
}

s a {
  text-decoration: none;
}

/*  took out for nav tabs to be on one line
label {
  display: block;
} */

/* nav a {
  display: inline-block;
  margin: 1em;
  background-color: transparent;
} */

a,
a:link,
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
  color: rgb(145, 32, 116);
}

form div {
  margin: 1em;
  display: inline-block;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWrap {
  flex: 1;
}
/* NavBar */
.MuiTab-textColorInherit {
  opacity: 1; /* delete later */
}
.navAnchorText {
  font-family: 'IBM Plex Mono';
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  /* height: 100vh; */
}
.nav {
  border-bottom: 1px solid lightgray;

  overflow: hidden;
  position: fixed; /*sets nav to fixed position */
  top: 0; /* positions nav to the top of page */
  width: 100%; /* full width */
}
/* links inside nav */
.nav a {
  float: right;
  display: block; /* might need to delete */
}

.nav__toggle {
  position: absolute;
  cursor: pointer; /* mouse pointer shows */
  margin: 0rem 1rem;
  right: 0;
}
.menu {
  width: 2rem;
  fill: lightgray; /* delete later */
  margin-top: 0.2rem;
}
.close {
  width: 2rem;
  fill: lightgray; /* delete later */
  display: none; /* close not visible */
  margin-top: 0.2rem;
}
.nav__checkbox {
  display: none;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  background-color: white;
  height: 2.8rem;
}
ul.nav__menu li {
  list-style: none;
  display: none;
}
ul.nav__menu li:first-child {
  margin-right: auto;
  display: block; /* allows logo to de displayed */
}
.logo {
  width: 1.5rem;
  fill: lightgray;
}

/* use the id called nav__checkbox to control the height of the navbar that is represented by the unordered list that has the nav__menu class  */
#nav__checkbox:checked ~ ul.nav__menu {
  height: 35vh;
}
/* take advantage of the id called nav__checkbox. Use that id to control when the nav links(li tags) are displayed
"~" is a sibling selector */
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block; /* <li></li> is now visible */
}

/* make close img visible when menu img is clicked on 
here we refrence the label with the class nav__toggle and select the img with the class named close*/
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
  margin-top: 0.9rem;
}
/* makes menu img invisible when checkbox is checked */
#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

/* Footer */
.footer {
  /* margin-top: 1rem; */
  /* padding: 1rem; */
  position: relative;
  bottom: 0;
  /* left: 0; */
  width: 100%;
}
.footerBox {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
}

.line-1 {
  position: fixed;
  top: 20%;
  left: -800px;
  background: white;
  white-space: nowrap;
}

.line-2 {
  position: fixed;
  top: 40%;
  right: -800px;
  background: white;
  white-space: nowrap;
}

/* .projectSecBox:hover{
  box-shadow: 10px 10px 15px 5px rgb(40, 3, 3);
  transform: rotate(2deg) scale(1.15);
  transition: all 0.3s ease;
  background:rgb(119, 66, 136);
  color: rgb(216, 194, 68);
 
} */
.headingClamp1 {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(40px, 8vw, 80px);
}

/* Landing Section */
.landingBackground {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
.projectSec {
  width: 100%;
  background: #fbecff;
  margin-bottom: 10em;
  background-size: 'cover';
}
.projectSecBox {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 3.5em;
}
.laptopProjectImage {
  width: 100%;
  margin-left: 4em;
}
.phoneProjectImage {
  margin-left: 11em;
}
.MuiGrid-grid-xs-6.projectDetails {
  padding-left: 6em;
}
.MuiGrid-container.miniIntroSection {
  /* targets a specific container */
  padding: 0px 4px;
  flex-direction: column;
  margin-bottom: 12em;
}
.landingBigFont {
  font-size: clamp(40px, 8vw, 80px);
  /* background-image:linear-gradient(transparent 0%, transparent calc(70% - 9px), rgba(0, 255, 0, 0.35) calc(70% - 9px), rgba(0, 255, 0, 0.35) 100%);
  background-size: 100% 80% ; */
}
.landingSmallFont {
  max-width: 560px;
}

@media screen and (max-width: 480px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .menu {
    margin-top: 0.9rem;
  }
  .logo {
    width: 2rem;
    margin-top: 0.2rem;
  }
  .nav__menu {
    gap: 1.5rem;
    height: 2.1rem;
  }

  .MuiTypography-h1.landingBigFont {
    font-size: 1.2rem;
    font-weight: 700;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(255 255 255));
  }
  .MuiTypography-h4.landingSmallFont {
    font-size: 0.9rem;
    font-weight: 300;
    max-width: 250px;
  }
  .MuiGrid-root.projectHeading {
    margin-left: 2em;
  }
  .MuiGrid-container {
    /* display: flex; */
    flex-direction: column;
  }
  .MuiGrid-grid-xs-6.footerBox {
    max-width: none;
  }
  .MuiGrid-grid-xs-6.projectImageGrid {
    max-width: none;
    padding-left: 2.9em;
  }
  .laptopProjectImage {
    margin-left: 0em;
  }
  .phoneProjectImage {
    margin-left: 3.9em;
  }
  .MuiGrid-grid-xs-6.projectDetails {
    max-width: none;
    padding-left: 4em;
    margin-top: 1em;
  }
}
@media screen and (min-width: 481px) and (max-width: 830px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .MuiTypography-h1.landingBigFont {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 831px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  ul.nav__menu li {
    display: block;
  }
  .logo {
    width: 3.5rem;
  }
}

/* About Section */
