body {
  font-family: sans-serif;
  background-color: #ffffff;

  height: 500vh;
}
s a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  background-color: transparent;
}

form div {
  margin: 1em;
  display: inline-block;
}

.landingBackground {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  /* position: fixed;
  top: 1;
  left: 0; */

  /* overflow: auto; */
}

.line-1 {
  position: fixed;
  top: 20%;
  left: -800px;
  background: white;
  white-space: nowrap;
}

.line-2 {
  position: fixed;
  top: 40%;
  right: -800px;
  background: white;
  white-space: nowrap;
}
