body {
  font-family: sans-serif;
  background-color: #dad2c5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  background-color: transparent;
}

form div {
  margin: 1em;
  display: inline-block;
}

.landingBackground {
  background-color: #dad2c5;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 1;
  left: 0;
}
